.footer {

  background-color: #c0bbbb;

  color: #160000;

  padding: 40px 0;

}



.footer-content {

  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;

  max-width: 1200px;

  margin: 0 auto;

  padding: 0 20px;

}



.footer-section {

  flex: 1 1 300px;

  margin-bottom: 20px;

}



.footer-section h3 {

  font-size: 1.2rem;

  margin-bottom: 10px;

}



.footer-section p {

  font-size: 0.9rem;

  margin-bottom: 5px;

}



.social-icons {

  display: flex;

  justify-content: center;

  padding-top: 10px;

  margin: 0 auto;

}



.icon-link {

  color: #160000;

  margin-right: 10px;

  font-size: 1.2rem;

}



.footer-bottom {

  background-color: #fefbfb;

  padding: 10px 0;

  text-align: center;

}

.footer-section a{
  text-decoration: none;
  color: #160000;
  
}
.footer-section a:hover{
  text-decoration: underline;
}



.footer-bottom p {

  font-size: 0.8rem;

  margin: 0;

}



/* Media Queries */

@media screen and (max-width: 768px) {

  .footer-content {

    flex-direction: column;

  }



  .footer-section {

    margin-bottom: 40px;

  }

}